html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 0.6px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 60px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb :hover {
   background-color: rgba(255, 255, 255, 0.3);
 }

@media print {
  .print-hidden {
    display: none;
  }
}

.answer-box{
  display: flex;
  flex-wrap: wrap;
}

.answer-box >p{
  margin-right: 40px;
}

.list-move, /* 对移动中的元素应用的过渡 */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

/* 确保将离开的元素从布局流中删除
  以便能够正确地计算移动的动画。 */
.list-leave-active {
  position: absolute;
}

@media print {
  /*打印设置不截断*/
  .seal {
    page-break-inside: avoid;
  }
}
